@tailwind base;
@tailwind components;
@tailwind utilities;
*,
:root,
html,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  /* border: 1px solid #1f2937; */
  /* background: rgb(174, 172, 172); */
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
}

::-webkit-scrollbar-track:hover {
  /* background: #1f2937; */
}
